.update {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .updateForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;

    .formItem {
      margin-bottom: 10px;
      display: flex;

      span {
        min-width: 200px;
        display: inline-block;
      }
    }
  }
}
