.find {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .detailContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;

    .detail {
      margin-bottom: 10px;
      display: flex;

      span {
        min-width: 200px;
        display: inline-block;
      }
    }
  }
}
